.Button {
  display: inline-block;
  font-weight: 700;
  padding: 0 2rem;
  vertical-align: middle;
  box-shadow: none;
}

.Button--default {
  color: #f65f1b;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #f65f1b;
  text-align: center;
  letter-spacing: .5px;
  line-height: 37px;
  transition: .2s ease-out;
  cursor: pointer;
}

.Button--default:hover {
  background-color: #ee5009;
  color: #fff;
}

.Button--primary {
  color: #fff;
  text-decoration: none;
  background-color: #f65f1b;
  border: 2px solid #f65f1b;
  text-align: center;
  letter-spacing: .5px;
  line-height: 37px;
  transition: .2s ease-out;
  cursor: pointer;
}

.Button--primary:hover {
  background-color: #fff;
  color: #f65f1b;
}

.Button--pill {
  border-radius: 100px;
}
